.slider-height{
    height: 100vh;
}
@media(max-width:1024px){
    [class*="slider-height"] {
        height: 100%;
  }
}
.width-cards{
    width: 30rem;
}
@media(max-width:1195px){
    [class*="width-cards"]{
        width: 27rem;
    }
}
@media(max-width:989px){
    [class*="width-cards"]{
        width: 40rem;
    }
}
@media(max-width:774px){
    [class*="width-cards"]{
        width: 30rem;
    }
}
@media(max-width:537px){
    [class*="width-cards"]{
        width: 27rem;
    }
}
@media(max-width:484px){
    [class*="width-cards"]{
        width: 20rem;
    }
}
@media(max-width:369px){
    [class*="width-cards"]{
        width: 15rem;
    }
}
.p-nav{
    font-size: 2rem;
    color: black; 
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #161515ce;
}