.slider-height{
    height: 100vh;
}
h5{
    font-size: 4rem; 
    color: black; 
}
.p-nav{
    font-size: 2rem;
    color: black; 
}
.change-color{
    color: white;
}
@media(max-width:1024px){
    [class*="slider-height"] {
        height: 100%;
  }
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #161515ce;
  }